@{
    ViewData["Title"] = "Home Page";
}
<section>
    <div class="news">
        <a>Новости</a>
        <a class="newnews">Все новости</a>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="~/img/card1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Выставка «Кириллица в современном плакате»</h5>
                    <p class="card-text">
                        В 2022 году Российской государственной библиотеке исполняется 160 лет. К этому
                        юбилею
                        Московская международная биеннале графического дизайна «Золотая пчела» дарит библиотеке 70 работ
                        из
                        своей коллекции.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="margin-left: -190px;">
                <img src="~/img/card2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">«Мольер & Островский». Лекционный диптих Константина Райкина </h5>
                    <p class="card-text">
                        Художественный руководитель театра «Сатирикон», народный артист РФ
                        Константин
                        Райкин впервые прочтёт лекции, на которых расскажет о двух своих любимых драматургах.
                        Российская
                        государственная библиотека представит выставку уникальных изданий и рукописей.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>